{:deps {io.github.nextjournal/clerk {:mvn/version "0.6.387"}}
 :paths ["daily_coding_problem"]
 :aliases
 {:nextjournal/clerk
  {:exec-fn nextjournal.clerk/build-static-app!
   ;; notebooks to be built, accepts globs patterns
   :exec-args {:bundle? false
               :paths ["daily_coding_problem/day_0001.clj"
                       "daily_coding_problem/day_0002.clj"]}}}}